{% extends 'base.html' %}
{% block content %}
<center><h2 style="color: crimson;">Investor Dashboard</h2></center>
    <br>
    <br>
    <center>
        <a href="changepassword" class="btn btn-primary">Change Password</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="editprofile" class="btn btn-success">Edit Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="viewprojects" class="btn btn-primary">View Projects</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="feedback" class="btn btn-primary">Give Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;

        <br><br>
        <br><br>
        <a href="logout" class="btn btn-danger" style="width:100px">Sign-Out</a>

    </center>


{% endblock %}