{% extends 'ownerbase.html' %}
{% block content %}
<center><h2 style="color: crimson;">Entrepreneur Dashboard</h2></center>
    <br>
    <br>
    <center>
        <a href="changepassword" class="btn btn-info">Change Password</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="editprofile" class="btn btn-primary">Edit Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="projectpublish" class="btn btn-info">Publish Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="responseview" class="btn btn-primary">View Responses</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="feedback" class="btn btn-primary">Give Feedback</a>

        <br><br>
        <br><br>
        <a href="logout" class="btn btn-danger" style="width:100px">Sign-Out</a>

    </center>

{% endblock %}